.social-icon {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;

  > div {
    position: absolute;
    border-radius: 50%;
    background-color: #343e37;

    &:first-child {
      top: 0.117rem;
      right: 0.2rem;
      width: 0.7rem;
      height: 0.7rem;
    }

    &:nth-of-type(2) {
      left: 0.2rem;
      top: 0.87rem;
      width: 0.4rem;
      height: 0.4rem;
    }

    &:last-child {
      bottom: 0.117rem;
      width: 0.4rem;
      height: 0.4rem;
      right: 0.3rem;
    }
  }
}
