.page-layout {
  max-width: 66.2rem;
  margin: 1rem auto;

  > .main-wrapper {
    border: 0.1rem solid #e7f1e9;
    border-radius: 0.4rem;

    > .header {
      height: 0.1rem;
      background-color: #e7f1e9;
      margin-top: 4.6rem;
    }

    > .content-wrapper {
      padding: 2.2rem 1.6rem;
    }

    > .footer {
      border-top: 0.1rem solid #e7f1e9;
      background-color: #ffffff;
      padding: 0.6rem 1.6rem;
      margin-top: 8.2rem;

      > p {
        text-align: right;
        font-size: 1rem;
        color: #343e37;
      }
    }
  }

  > .button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.6rem;
  }
}
