.page-layout {
  max-width: 66.2rem;
  margin: 1rem auto;
  border: 0.1rem solid #e7f1e9;
  border-radius: 0.4rem;

  > .header {
    height: 0.1rem;
    background-color: #e7f1e9;
    margin-top: 4.6rem;
  }

  > .content-wrapper {
    padding: 2.2rem 1.6rem;
  }
}
